@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.dark > body {
    background-color: #1d1d1d;
  }

  main {
    min-height: 100vh;
  }

  div[aria-hidden="true"] {
    display: none;
  }
}
